@model AccountManagement.Application.Contract.Personality.CreatePersonality


<form method="post" action="/administrator/MySetting/_PersonalityCreate">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">افزودن شخصیت  جدید</h5>
            <button type="button" class="close" data-dismiss="modal">
                <span>×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label>نام گروه بندی مورد نظر برای شخصیت </label>
                                    <select class="form-control" asp-for="PersonalityTypeId" asp-items="@ViewData["PersonalityTypes"] as SelectList">
                                        <option value="0">انتخاب کنید</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="PersonalityTypeId">
                                    </span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label>عنوان شخصیت مورد نظر </label>
                                    <input type="text" asp-for="Title" class="form-control" placeholder="عنوان شخصیت">
                                    <span class="text-danger" asp-validation-for="Title">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger light" data-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
        </div>
    </div>
</form>

<!-- Toastr -->
<script src="~/AdminTheme/vendor/toastr/js/toastr.min.js"></script>
<script src="~/AdminTheme/js/plugins-init/toastr-init.js"></script>

<!--To Disable Submit Button before change in form-->
<script>
        $('form')
        .each(function(){
            $(this).data('serialized', $(this).serialize())
        })
        .on('change input', function(){
            $(this)
                .find('input:submit, button:submit')
                    .prop('disabled', $(this).serialize() == $(this).data('serialized'))
            ;
         })
        .find('input:submit, button:submit')
            .prop('disabled', true)
    ;
</script>



