@model ShopManagement.Application.Contract.SellerPanel.CreateSellerPanel

<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">فرم افقی</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>نام فروشگاه</label>
                                <input type="text" class="form-control" asp-for="StoreName" placeholder="نام فروشکاه">
                            </div>
                            <div class="form-group col-md-6">
                                <label>شماره همراه برای فروشگاه</label>
                                <input type="number" class="form-control" asp-for="StoreMobileNumber" placeholder="شماره فروشگاه">
                            </div>
                            <div class="form-group col-md-12">
                                <label>آدرس</label>
                                <input type="text" class="form-control" asp-for="Address" placeholder="آدرس">
                            </div>
                            <div class="form-group col-md-12">
                                <label>انتخاب گروه خریداران</label>
                                <select class="form-control" asp-for="BuyersCategory" asp-items="@ViewData["ProductBrands"] as SelectList">
                                    <option value="0">انتخاب کنید</option>
                                    <option value="1"> خریداران عادی</option>
                                    <option value="2"> تعمیر کننده ها</option>
                                    <option value="3"> هر دو</option>
                                </select>
                                <span class="text-danger" asp-validation-for="BuyersCategory">
                                </span>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" asp-for="CanMarketerSee">
                                    <label class="form-check-label">
                                        آیا مایلید بازار یاب ها محصولات شمارا ببینند
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">ورود</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>