@model AccountManagement.Application.Contract.UpAccountRequest.CreateUpAccountRequest
@{
    ViewData["Title"] = "ارتقاء حساب کاربری";
}


<!-- Form step -->
<link href="/MainTheme/vendor/jquery-steps/css/jquery.steps.css" rel="stylesheet">
<!-- Custom Stylesheet -->
<link href="/MainTheme/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/MainTheme/css/style.css" rel="stylesheet">



<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">پروفایل شخصی</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">پروفایل شخصی </a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">ارتقاء حساب کاربری </a></li>
        </ol>
    </div>
</div>


<!-- row -->
<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 id="issue" class="card-title">مرحله فرم</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="/user/UpgradeAccount" id="step-form-horizontal" class="step-form-horizontal">
                    <div>
                        <h4>ثبت اطلاعات هویتی</h4>
                        <section>
                            <h5 class="card-title">ثبت اطلاعات هویتی</h5>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">نام و نام خانوادگی</label>
                                        <input type="text" asp-for="PI_FUllName" class="form-control" placeholder="نام و نام خانوادگی">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">نام پدر</label>
                                        <input type="text" asp-for="PI_FatherName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">شماره شناسنامه</label>
                                        <input type="number" asp-for="PI_IdentityNumber" class="form-control" id="inputGroupPrepend2" aria-describedby="inputGroupPrepend2">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">کد ملی</label>
                                        <input type="number" asp-for="PI_NationalCode" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label"> استان</label>
                                        <input type="text" asp-for="PI_Capital" class="form-control" id="inputGroupPrepend2" aria-describedby="inputGroupPrepend2">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">شهر</label>
                                        <input type="text" asp-for="PI_City" class="form-control" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">تاریخ عضویت</label>
                                        <input type="text" asp-for="PI_RegistrationDate" class="form-control persianDateInput">
                                    </div>
                                    <br />
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">تاریخ تولد</label>
                                        <input type="text" asp-for="PI_BirthdayDate" class="form-control persianDateInput">
                                    </div>
                                    <br />
                                </div>
                            </div>
                        </section>
                        <h4>آپلود اطلاعات هویتی</h4>
                        <section>
                            <h5 class="card-title">آپلود اطلاعات هویتی</h5>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-lg-6 mb-2" style="padding-bottom:30px">
                                    <div class="custom-control custom-switch custom-control-inline mb-1">
                                        <input type="checkbox" class="custom-control-input" checked="" id="customSwitch1" asp-for="PI_IsNewIdentity">
                                        <label class="custom-control-label mr-1" for="customSwitch1">
                                        </label>
                                        <span>شناسنامه من جدید است</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" style="padding-bottom:30px">
                                    <div class="custom-control custom-switch custom-control-inline mb-1">
                                        <input type="checkbox" class="custom-control-input" checked="" id="customSwitch2" asp-for="PI_IsNewNationalCard">
                                        <label class="custom-control-label mr-1" for="customSwitch2">
                                        </label>
                                        <span>کارت ملی من جدید است</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر شناسنامه (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadPD_IdentityCard" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadPD_IdentityCard" id="UploadPD_IdentityCard" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" id="UploadPD_NationalCardFrontSide">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر روی کارت ملی (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadPD_NationalCardFrontSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadPD_NationalCardFrontSide" id="UploadPD_NationalCardFrontSide" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" id="UploadPD_NationalCardBackSide">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر پشت کارت ملی (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadPD_NationalCardBackSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadPD_NationalCardBackSide" id="UploadPD_NationalCardBackSide" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" id="UploadPD_NationalCodeTrackingPaper" style="display:none">
                                    <div class="form-group">
                                        <label class="text-label">آپلود رسید رهگیری کارت ملی جدید (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadPD_NationalCodeTrackingPaper" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadPD_NationalCodeTrackingPaper" id="UploadPD_NationalCodeTrackingPaper" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4> ثبت اطلاعات بانکی</h4>
                        <section>
                            <h5 class="card-title">ثبت اطلاعات بانکی</h5>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">نام بانک</label>
                                        <input type="text" asp-for="BI_BankName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">شماره حساب بانکی</label>
                                        <input type="number" asp-for="BI_BankName" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label"> شماره کارت</label>
                                        <input type="number" asp-for="BI_CreditCardNumber" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">شماره شبا</label>
                                        <input type="number" asp-for="BI_ShabaNumber" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4>اپلود اطلاعات بانکی</h4>
                        <section>
                            <h5 class="card-title">اپلود اطلاعات بانکی</h5>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر روی کارت اعتباری (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadBD_CreditCardFrontSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadBD_CreditCardFrontSide" id="UploadBD_CreditCardFrontSide" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر پشت کارت اعتباری (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadBD_CreditCardBackSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadBD_CreditCardBackSide" id="UploadBD_CreditCardBackSide" />
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر پرینت شبا  (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadBD_ShabaPrint" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadBD_ShabaPrint" id="UploadBD_ShabaPrint" />
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4>ثبت اطلاعات ضمانتنامه</h4>
                        <section>
                            <h5 class="card-title">ثبت اطلاعات ضمانتنامه</h5>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-lg-6 mb-2" style="padding-bottom:30px">
                                    <div class="custom-control custom-switch custom-control-inline mb-1">
                                        <input type="checkbox" class="custom-control-input" checked="" id="customSwitch3" asp-for="GI_IsChequeGuarantyType">
                                        <label class="custom-control-label mr-1" for="customSwitch3">
                                        </label>
                                        <span>نوع ضمانت نامه من چک میباشد</span>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2" id="GI_ChequeNumber">
                                    <div class="form-group">
                                        <label class="text-label">شماره چک</label>
                                        <input type="number" asp-for="GI_ChequeNumber" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2" id="GI_SafteNumber" style="display:none">
                                    <div class="form-group">
                                        <label class="text-label"> شماره سفته</label>
                                        <input type="number" asp-for="GI_SafteNumber" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2" id="GI_ChequeBankBranch">
                                    <div class="form-group">
                                        <label class="text-label">شعبه  جک</label>
                                        <input type="number" asp-for="GI_ChequeBankBranch" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-2" id="GI_ShenaseSayadiCheque">
                                    <div class="form-group">
                                        <label class="text-label"> شناسه صیادی چک</label>
                                        <input type="number" asp-for="GI_ShenaseSayadiCheque" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h4>آپلود اطلاعات ضمانت نامه</h4>
                        <section>
                            <h5 class="card-title">آپلود اطلاعات ضمانتنامه</h5>
                            <hr />
                            <br />
                            <div class="row">
                                <div class="col-lg-6 mb-2" id="UploadGD_ChequeFrontSide">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر رو از چک (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadGD_ChequeFrontSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadGD_ChequeFrontSide" id="UploadUploadGD_ChequeFrontSideBD_CreditCardBackSide" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" id="UploadGD_ChequeBackSide">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویر پشت چک (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadGD_ChequeBackSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadGD_ChequeBackSide" id="UploadGD_ChequeBackSide" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" id="UploadGD_SafteFrontSide" style="display:none">
                                    <div class="form-group">
                                        <label class="text-label">اپلود تصویرروی سفته (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadGD_SafteFrontSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadGD_SafteFrontSide" id="UploadGD_SafteFrontSide" />
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-2" id="UploadGD_SafteBackSide" style="display:none">
                                    <div class="form-group">
                                        <label class="text-label">آپلود تصویر پشت سفته (با فرمت PNG)</label>
                                        <input type="file" asp-for="UploadGD_SafteBackSide" class="form-control Upload">
                                        <br />
                                        <img src="~/MainTheme/images/cameraLogo2.jpg" width="500px" height="200px" class="UploadGD_SafteBackSide" id="UploadGD_SafteBackSide" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="skip-email text-center">
                                        @*<p>یا اگر می خواهید این مرحله را کاملاً رد کنید و بعداً آن را تنظیم کنید</p>*@
                                        <input type="submit" class="btn btn-primary" value="ایجاد" />
                                    </div>
                                </div>
                            </div>
                            @*  <div class="actions clearfix">
                                <ul role="menu" aria-label="صفحه ساز">
                                <li class="" aria-disabled="false">
                                <a href="#previous" role="menuitem">قبلی</a>
                                </li>
                                <li aria-hidden="true" aria-disabled="true" class="disabled" style="display: none;">
                                <a href="#next" role="menuitem">بعدی</a>
                                </li>
                                <li aria-hidden="false" style="">
                                <a href="#finish" role="menuitem">پایان22</a>
                                </li>
                                </ul>
                                </div>*@
                        </section>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@if (ViewData["UpRequestResult"] != null)
{
    <div class="alert alert-danger">@ViewData["UpRequestResult"] </div>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>

@section Scripts{
<!--Scripts-->
<script src="/MainTheme/vendor/jquery-steps/build/jquery.steps.min.js"></script>
<script src="/MainTheme/vendor/jquery-validation/jquery.validate.min.js"></script>
<!-- Form validate init -->
<script src="/MainTheme/js/plugins-init/jquery.validate-init.js"></script>
<!-- Form step init -->
<script src="/MainTheme/js/plugins-init/jquery-steps-init.js"></script>

<script>
    $(document).ready(function() {
        $("#customSwitch3").click(function() {
            if($(this).prop("checked") == true) {
                 $("#GI_ChequeNumber").css("display","block");
                $("#GI_ChequeBankBranch").css("display","block");
                $("#GI_ShenaseSayadiCheque").css("display","block");
                $("#UploadGD_ChequeFrontSide").css("display","block");
                $("#UploadGD_ChequeBackSide").css("display","block");
                $("#GI_SafteNumber").css("display","none");
                $("#UploadGD_SafteFrontSide").css("display","none");
                $("#UploadGD_SafteBackSide").css("display","none");
            }
            else if($(this).prop("checked") == false) {
             $("#GI_ChequeNumber").css("display","none");
                $("#GI_ChequeBankBranch").css("display","none");
                $("#GI_ShenaseSayadiCheque").css("display","none");
                $("#UploadGD_ChequeFrontSide").css("display","none");
                $("#UploadGD_ChequeBackSide").css("display","none");
                $("#GI_SafteNumber").css("display","block");
                $("#UploadGD_SafteFrontSide").css("display","block");
                $("#UploadGD_SafteBackSide").css("display","block");
            }
          });
      });

       $(document).ready(function() {
        $("#customSwitch2").click(function() {
            if($(this).prop("checked") == true) {
                $("#UploadPD_NationalCardFrontSide").css("display","block");
                $("#UploadPD_NationalCardBackSide").css("display","block");
                $("#UploadPD_NationalCodeTrackingPaper").css("display","none");

            }
            else if($(this).prop("checked") == false) {
                $("#UploadPD_NationalCardFrontSide").css("display","none");
                $("#UploadPD_NationalCardBackSide").css("display","none");
                $("#UploadPD_NationalCodeTrackingPaper").css("display","block");
            }
          });
      });

    $('.persianDateInput').persianDatepicker({
        format: 'YYYY/MM/DD',
        autoClose: true,
        initialValueType:false,
        initialValueType: "persian"
    });

     function readURL(input,id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.Upload').parent('div.form-group').find("img"+(".")+id).attr('src', e.target.result);

                }
                reader.readAsDataURL(input.files[0]);
            } else {
                alert('select a file to see preview');
                $('#previewHolder').attr('src', '');
            }
        }


        $(".Upload").change(function () {
            let id=this.id;
            readURL(this,id);
        });





</script>

}

