@model RepairWorkShopManagement.Application.Contracts.SystemService.CreateSystemService
@using ShopManagement.Application.Contract.ProductCategory.ProductBrand;
@using ShopManagement.Application.Contract.ProductCategory.ProductModel;
@using ShopManagement.Application.Contract.ProductCategory.ProductType;
@using ShopManagement.Application.Contract.ProductCategory.ProductUsageType;
@inject IProductTypeApplication _productTypeApplication
@inject IProductBrandApplication _productBrandApplication
@inject IProductModelApplication _productModelApplication
@inject IProductUsageTypeApplication _productUsageTypeApplication
@{
    ViewData["Title"] = "افزودن سرویس جدید ";
    ViewData["ProductTypes"] = new SelectList(_productTypeApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductBrands"] = new SelectList(_productBrandApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductModels"] = new SelectList(_productModelApplication.GetList(), "Id", "EngTitle");
    ViewData["ProductUsageTypes"] = new SelectList(_productUsageTypeApplication.GetList(), "Id", "EngTitle");
}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrator">پنل مدیریت </a></li>
            <li class="breadcrumb-item active"><a href=""> افزودن سرویس جدید </a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">افزودن سرویس جدید</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" href="/administrator/SystemService/create">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>تعیین نوع سرویس مورد نظر </label>
                                <select class="form-control" asp-for=ProductTypeId asp-items="@ViewData["ProductTypes"] as SelectList">
                                    <option value="0">انتخاب کنید</option>
                                </select>
                                <span class="text-danger" asp-validation-for="ProductTypeId">
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>تعیین برند سرویس مورد نظر </label>
                                <select class="form-control" asp-for=ProductBrandId onchange="filterModel()" asp-items="@ViewData["ProductBrands"] as SelectList">
                                    <option value="0">انتخاب کنید</option>
                                </select>
                                <span class="text-danger" asp-validation-for="ProductBrandId">
                                </span>
                            </div>
                            <div class="form-group models col-md-6">
                                <label>تعیین مدل سرویس مورد نظر </label>
                                <select class="form-control" asp-for=ProductModelId asp-items="@ViewData["ProductModels"] as SelectList">
                                    <option value="0">انتخاب کنید</option>
                                </select>
                                <span class="text-danger" asp-validation-for="ProductModelId">
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>تعیین نحوه استفاده سرویس مورد نظر </label>
                                <select class="form-control" asp-for=ProductUsageTypeId asp-items="@ViewData["ProductUsageTypes"] as SelectList">
                                    <option value="0">انتخاب کنید</option>
                                </select>
                                <span class="text-danger" asp-validation-for="ProductUsageTypeId">
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label> عنوان سرویس (فارسی)</label>
                                <input type="text" asp-for="FarsiTitle" class="form-control" placeholder="فارسی">
                                <span class="text-danger" asp-validation-for="FarsiTitle">
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>عنوان سرویس(english)</label>
                                <input type="text" asp-for="EngTitle" class="form-control" placeholder="انگلیسی">
                                <span class="text-danger" asp-validation-for="EngTitle">
                                </span>
                            </div>

                            <div class="form-group col-md-6">
                                <label>قیمت پایه</label>
                                <input type="text" asp-for="BaseFeePrice" class="form-control" placeholder="بر حسب تومان">
                                <span class="text-danger" asp-validation-for="BaseFeePrice">
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>درصد سامانه</label>
                                <input type="text" asp-for="SystemSharePercent" class="form-control" placeholder="بر حسب درصد">
                                <span class="text-danger" asp-validation-for="SystemSharePercent">
                                </span>
                            </div>
                              <div class="form-group col-md-6">
                                <label>انتخاب نوع گارانتی محصول</label>
                                <select class="form-control" asp-for="WarrantyTypeId">
                                    <option value="0">انتخاب کنید</option>
                                    <option value="1"> ساعت</option>
                                    <option value="2"> روز</option>
                                    <option value="3"> ماه</option>
                                    <option value="4"> سال</option>
                                </select>
                                <span class="text-danger" asp-validation-for="WarrantyTypeId">
                                </span>
                            </div>
                            <div class="form-group col-md-6">
                                <label>مقدار گارانتی</label>
                                <input type="number" class="form-control" asp-for="WarrantyAmount" onkeypress="return onlyNumberKey(event)">
                                <span class="text-danger" asp-validation-for="WarrantyAmount">
                                </span>
                            </div>
                            <button type="submit" class="btn btn-primary">افزودن سرویس</button>
                            <a href="/Administrator/Systemservice/index" class="btn btn-warning">بازگشت</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   function filterModel() {
                   $.ajax({
                      url:"/administrator/SystemService/FilterModels",
                      data:{brandId:$("#ProductBrandId").val()},
                  }).done(function(result){
                     $(".models").html(result);
                  })
        }

           function onlyNumberKey(evt) {

                    // Only ASCII character in that range allowed
                    var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                        return false;
                    return true;
                }
</script>