


<label>تعیین مدل محصول مورد نظر </label>
<select class="form-control" name="ProductModelId" id="ProductModelId" asp-items="@ViewData["FilteredProductModels"] as SelectList">
    <span class="text-danger" id="ProductModelId-error">
    </span>
    <option value="0">انتخاب کنید</option>
</select>
