@model List<AccountManagement.Application.Contract.Personality.PersonalityViewModel>
@{
    ViewData["Title"] = "مدیریت شخصیت ها";
}
<!-- Custom Stylesheet -->
<link href="/AdminTheme/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/AdminTheme/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/AdminTheme/css/style.css" rel="stylesheet">

  <!-- Toastr -->
    <link rel="stylesheet" href="~/AdminTheme/vendor/toastr/css/toastr.min.css">
<!---->

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/administrator">پنل مدیریت </a></li>
            <li class="breadcrumb-item active"><a href=""> مدیریت شخصیت های سازمان </a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <div class="card">

            <div class="card-header">
                <h4 class="card-title">لیست شخصیت های سازمان</h4>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-rounded btn-info" onclick="window.location.href ='#showmodal=/administrator/personality/create'">
                    <span class="btn-icon-left text-info">
                        <i class="fa fa-plus color-info"></i>
                    </span>افزودن
                </button>
                <div class="table-responsive">
                    <table id="example3" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>عنوان شخصیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Title</td>
                                    <td>
                                        <div class="d-flex">
                                            <a href="#showmodal=/administrator/personality/Edit/@item.Id" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                            <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Scripts-->
<script src="~/AdminTheme/vendor/global/global.min.js"></script>
<script src="~/AdminTheme/vendor/global/global.min.js"></script>

<!--Datatable JavaScript-->
<script src="/AdminTheme/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/AdminTheme/js/plugins-init/datatables.init.js"></script>
