@model List<ShopManagement.Application.Contract.ProductTypeViewModel>

<div class="col-xl-12">
    <div class="card">
        <div class="card-header border-0 pb-0">
            <h5 class="card-title">مدیدیت نوع محصول</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                او روی پشتی مانند زره خود دراز کشید و اگر کمی سرش را بلند کرد می توانست شکم قهوه ای رنگش را ببیند ، کمی گنبدی و توسط قوس ها به سفت تقسیم شده است <br> بخشها تختخواب به سختی قادر به پوشاندن آن بود و به نظر می رسید هر لحظه آماده لغزش است.
            </p>
        </div>
      
    </div>
</div>



