@model List<RepairWorkShopManagement.Application.Contracts.UserImapairmentReport.UserImpairmentReportViewModel>

@{
    ViewData["Title"] = "خرابی های جاری در حال پردازش";
}


<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>سلام، خوش آمدید</h4>
            <p class="mb-0">لیست خرابی های جاری</p>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"> اعلام خرابی </a></li>
            <li class="breadcrumb-item"><a href="/MainShop/index">لیست خرابی های جاری </a></li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست خرابی های جاری شما</h4>
            </div>
            <div class="card-body" id="SystemServices">
                <div class="table-responsive">
                    <table class="table table-responsive-md">
                        <thead>
                            <tr>
                               <th>نام دستگاه</th>
                                <th>تاریخ ایجاد</th>
                                <th>وضعیت</th>
                                <th>عملیات</th>
                          
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   <td>@item.UserDeviceTitle</td>
                                   <td>@item.CreationDate</td>
                                   <td>
                                       @if(!item.IsHandlingByRepairMan)
                                        {
                                            <span class="badge light badge-warning">هنوز تعمیرکار انتخاب نکرده اید </span>
                                        }
                                        else
                                        {
                                            <span class="badge light badge-success">در حال بررسی توسط تعمیرکار </span>
                                        }
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-info" href="/ImpairmentReport/EditUserImpairmentReport/@item.Id" @((item.IsHandlingByRepairMan==true)?"disabledd":"") >ویرایش </a>
                                        <a class="btn btn-outline-primary" href="#showModal=/ImpairmentReport/AddProduct/@item.Id"> افزودن قطعه</a>
                                        <a class="btn btn-outline-success" href="#showModal=/ImpairmentReport/ChooseRepairman/@item.Id"> انتخاب تعمیرکار</a>
                                    </td>
                                
                                  
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
