@model List<AccountManagement.Application.Contract.UserDevice.UserDeviceViewModel>


<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card border-0 pb-0">
            <div class="card-header border-0 pb-0">
                <h4 class="card-title">لیست دستگاه های شما</h4>
            </div>
            <div class="card-body">
                <div id="DZ_W_Todo3" class="widget-media dz-scroll ps ps--active-y" style="height:370px;">
                    <ul class="timeline">
                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="timeline-panel">
                                    <div class="media mr-2">
                                        <img alt="image" width="50" src="/UploadedFiles/@item.DevicePictureURL">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mb-1">@item.DeviceTitle <small class="text-muted">@item.CreationDate</small></h5>
                                        <p>آدرس :</p>
                                        <p class="mb-1">@item.Address</p>
                                        <button onclick="SelectDevice(@item.Id)" class="btn btn-primary btn-xxs shadow">انتخاب </button>
                                    </div>
                                </div>
                            </li>
                        }


                    </ul>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 370px; left: 531px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 235px;"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SelectDevice(userDeviceId){
        debugger
        $.ajax({
            url:"/ImpairmentReport/SelectDevice",
            data:{id:userDeviceId},
            dataType:'json',
            success:function(result){
                debugger
                $("#UserDeviceTitle").val(result.DeviceTitle);
                $("#UserDeviceId").val(result.Id);
                $("#MainModal").modal("hide");
            }
        })
    }
</script>
